/* Add margin and border radius to the main browser container */
.browserStack > browser {
  margin: 8px !important;
  border-radius: 16px !important;
}

#browser {
  --sidebar-border-color: transparent !important;
}

.browserContainer,
.browserStack,
.browserSidebarContainer,
#browser,
#appcontent {
  background-color: var(--toolbar-field-background-color) !important;
}
