toolbar#TabsToolbar {
  -moz-appearance: none !important;
  background-color: var(--toolbar-bgcolor) !important;
}

toolbar-menubar,
#menubar-items,
#main-menubar {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: none !important;
}
