@import url(compact_urlbar.css);
@import url(floating_findbar.css);
@import url(rounded_statuspanel.css);
@import url(hide_alltabs_button.css);
@import url(rounded_main_view.css);
@import url(toolbar.css);

/* Add margin and border radius to the side bar*/
#sidebar-box {
  margin: 8px 0px 8px 8px !important;
  border-radius: 16px !important;
  z-index: 1;
  border-color: transparent;
  background-color: var(--newtab-background-color) !important;
}

#sidebar {
  background-color: var(--newtab-background-color) !important;
}

#sidebar-box > * {
  border-radius: 16px !important;
  background-image: none;
  background-color: var(--newtab-background-color) !important;
}

#sidebar-splitter {
  display: none;
}

#sidebar-header {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
  background-color: var(--newtab-background-color) !important;
}

#sidebar-search-container {
  background-color: var(--newtab-background-color) !important;
}

.sidebar-placesTreechildren {
  background-color: var(--newtab-background-color) !important;
}
